body {
    background-color: #f8f8f8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
    margin-top: 5%;
    font-weight: bold;
    text-align: start;
}
h2{
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-family: cursive;
}
h3{
  font-weight: bold;
  text-align: center;
}
ul {
    background-color: #003B6D;
    border-radius: 10px;
  }

nav {
    background-color:#003B6D;
}

p {
  padding: 5%;
}

.logo {
    margin-right: 2%;
    padding: 1.5%;
    width: 100%;
    height: auto;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #6699CC;
    border-radius: 5px;
    color: white;
}
  
  .footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 5%; 
  }
  
  .footer-left,
  .footer-right {
    flex: 1;
    text-align: center;
    
  }
  
  .footer-center {
    flex: 0 0 auto; 
    text-align: center;
  }
  
  .footer-logo {
    max-height: 70px;
  }
  .footer-right {
    font-size: small;
    padding: 0;
  }
  .card {
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 5px;
  }

  .card-img-top {
    padding: 5%;
  }

  .form {
    padding: 10%;
  }

  .our-island {
    padding: 5%;
    background-image: 
    linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://www.tahititourisme.com/app/uploads/iris-images/36332/tahiti-vue-du-ciel-a-gregoire-le-bacon-lionailes-1-1920x1080-f50_50.webp");
        
    color: white;
  }

  .btn {
    background-color:#003B6D !important;
    border: none !important;
    color: white !important;
  }

  .btn:hover {
    background-color: #6699CC !important;
    border: none !important;
}

  .links{
    padding: 5%;
  }

  .entertainment {
    text-align: center;
  }

  p, .transportation {
    padding: 1%;
    text-align: center;
  }

  .transportation {
    padding-bottom: 5%;
  }

  .container {
    text-align: center;
    position: relative;
  }

  a:link {
    text-decoration: none;
    color:#003B6D;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:active {
    color:#003B6D;
  }

  .grocery {
    padding: 5%;
  }
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  hr {
    border: none;
    height: 2px;
    color:#003B6D;
    background-color: #003B6D;
  }